.cuerpo {
	height: 100%;
	width: 100%;
}
.titulo  {

margin-left: 50px;

}


#comentarios {
background-color: lightgrey;
width: 234px;
height: 100px;
overflow:scroll;
margin-left: 50px;
}

#mensaje {

margin-left:50px;

}

